:root {
  /* Light mode colors */
  --background-color: #ffffff;
  --text-color: #000000;
  --button-bg-color-primary: #007bff;
  --button-bg-color-gray: #555555;
  --button-bg-color-green: #28a745;
  --button-text-color: #ffffff;
  --border-color: #ccc;
  --input-bg-color: #ffffff;
  --tab-inactive-color: #e0e0e0;
  --dropdown-bg-color: #ffffff;
  --dropdown-text-color: #000000;
}

body.dark-mode {
  /* Dark mode colors */
  --background-color: #1e1e1e;
  --text-color: #ffffff;
  --button-bg-color-primary: #0b69cd;
  --button-bg-color-gray: #555555;
  --button-bg-color-green: #23b145;
  --button-text-color: #ffffff;
  --border-color: #444444;
  --input-bg-color: #2e2e2e;
  --tab-inactive-color: #333333;
  --dropdown-bg-color: #2e2e2e;
  --dropdown-text-color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s;
}

.tab-container {
  display: flex;
  background-color: var(--background-color);
  padding: 0 10px;
  border-bottom: 1px solid var(--border-color);
  align-items: center;
}

.tabs-group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.tab {
  padding: 5px 15px;
  margin: 3px 0;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: var(--tab-inactive-color);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
}

.tab.active {
  background-color: var(--background-color);
  border-bottom: 1px solid var(--background-color);
  color: var(--text-color);
}

.tab:hover {
  background-color: #d1d1d1;
}

.theme-toggle-btn {
  padding: 5px 15px;
  border: 1px solid var(--border-color);
  border-bottom: none;
  border-radius: 5px 5px 0 0;
  background-color: var(--tab-inactive-color);
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s;
  margin-left: auto;
}

.theme-toggle-btn:hover {
  background-color: #d1d1d1;
}

#content-area {
  padding: 15px;
  border: 1px solid var(--border-color);
}

#test-content,
#editor-content {
  display: none;
}

.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

#function-input {
  width: 80%;
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  margin-bottom: 10px;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

#add-test-btn,
#export-test-btn {
  padding: 8px 15px;
  border: none;
  background-color: var(--button-bg-color-gray);
  color: var(--button-text-color);
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  font-size: 14px;
  transition: background-color 0.3s;
}

#export-test-btn {
  background-color: var(--button-bg-color-green);
}

#add-test-btn:hover {
  background-color: #0056b3;
}

#export-test-btn:hover {
  background-color: #218838;
}

ul {
  list-style: none;
  padding: 0;
}

li {
  padding: 10px;
  margin: 10px 0;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  position: relative;
  transition: background-color 0.5s, border-color 0.5s;
}

.test-input-group {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.test-row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.test-input-group input {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  flex: 1;
  background-color: var(--input-bg-color);
  color: var(--text-color);
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

input[type="text"],
select {
  padding: 8px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--dropdown-bg-color);
  color: var(--dropdown-text-color);
  transition: background-color 0.5s, color 0.5s, border-color 0.5s;
}

select {
  appearance: auto;
  height: 34px;
}

select:focus,
input[type="text"]:focus {
  outline: none;
  border-color: var(--button-bg-color);
}

.add-param-btn {
  background-color: #4CAF50;
  color: white;
  padding: 8px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  margin-top: 5px;
  transition: background-color 0.2s, color 0.2s;
}

.add-param-btn:hover {
  background-color: #45a049;
}

.remove-param-btn {
  align-self: flex-end;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.2s, color 0.2s;
  display: block;
  font-size: 14px;
}

.remove-param-btn:hover {
  background-color: #d32f2f;
}

.remove-btn {
  align-self: flex-end;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.2s, color 0.2s;
  display: block;
  font-size: 14px;
}

.remove-btn:hover {
  background-color: #d32f2f;
}

.param-row,
.test-row {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 5px;
}

.action-btn {
  padding: 8px 15px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.3s, color 0.3s;
}

.action-btn:hover {
  background-color: #0056b3;
}

.script-container {
  margin-top: 20px;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: var(--background-color);
}

.scripts-list {
  list-style: none;
  padding: 0;
  margin-top: 10px;
}

.script-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background-color: var(--input-bg-color);
  position: relative;
  margin-bottom: 10px;
  min-height: 96px;
}

.script-filename {
  position: absolute;
  top: 10px;
  left: 15px;
  margin: 0;
  font-size: 24px;
  font-weight: 200;
  color: var(--text-color);
  flex: 1;
  margin-right: 10px;
}

.edit-btn {
  background-color: var(--button-bg-color-gray);
  border: none;
  cursor: pointer;
  font-size: 18px;
  position: absolute;
  top: 8px;
  right: 8px;
  color: var(--text-color);
  border-radius: 4px;
  height: 36px;
  width: 36px;
}

.edit-btn:hover {
  color: #3498db;
}

.scriptremove-btn {
  align-self: flex-end;
  background-color: #e74c3c;
  color: white;
  border: none;
  padding: 8px 15px;
  border-radius: 4px;
  cursor: pointer;
  margin: 10px 0;
  transition: background-color 0.2s, color 0.2s;
  display: block;
  font-size: 14px;
  position: absolute;
  top: 68px;
  right: 5px;
}

.result-summary {
  position: absolute;
  top: 88px;
  left: 14px;
  font-size: 18px;
  color: #888;
}

.summary-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.result-summary {
  margin-right: 5px;
}

.dropdown-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: 88px;
}

.dropdown-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-in-out, padding 0.3s ease-in-out;
  padding: 0 10px; /* Set horizontal padding to prevent shifting */
  margin-top: 96px; /* Ensure consistent space from the top */
  box-sizing: border-box; /* Ensures padding and border do not affect alignment */
}

/* Expanded state */
.dropdown-content.show {
  max-height: 500px; /* Adjust this value based on your content size */
  padding: 10px; /* Keep the padding consistent to avoid shifting */
}

.detail-item {
  padding: 5px 0;
  font-size: 14px;
  color: var(--text-color);
}

/* Style for the Add Script button */
#add-script-btn {
  padding: 8px 15px;
  border: 1px solid var(--border-color);
  background-color: var(--button-bg-color-gray);
  color: var(--button-text-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  outline: none;
  margin-bottom: 10px;
}

#add-script-btn:hover {
  background-color: #0056b3;
  border-color: var(--button-bg-color-gray);
}

#add-script-btn:focus {
  border-color: var(--button-bg-color-gray);
  outline: none;
}

#remove-all-scripts,
#remove-all-tests-btn {
  padding: 8px 15px;
  border: 0px solid var(--border-color);
  background-color: #e74c3c;
  color: var(--button-text-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  outline: none;
  margin-bottom: 10px;
}

#remove-all-scripts:hover,
#remove-all-tests-btn:hover {
  background-color: #72261d;
  border-color: var(--button-bg-color);
}

#remove-all-scripts:focus,
#remove-all-tests-btn:focus {
  border-color: var(--button-bg-color);
  outline: none;
}

.back-to-top-btn {
  position: fixed;
  bottom: -60px; /* Start off-screen */
  right: 20px;
  width: 50px; /* Make the button square */
  height: 50px; /* Make the button square */
  background-color: #444; /* Dark background color */
  color: #ffc107; /* Emoji color (yellowish) */
  border: none;
  border-radius: 8px; /* Rounded corners */
  font-size: 24px; /* Size of the emoji */
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center; /* Center the emoji */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3); /* Add a slight shadow */
  transition: bottom 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;
}

.back-to-top-btn.show {
  bottom: 20px; /* Slide into view */
  opacity: 1;
}

.back-to-top-btn.hide {
  bottom: -60px; /* Slide out of view */
  opacity: 0;
}

/* Modal container */
.modal {
  display: none; /* Hidden by default */
  position: fixed;
  z-index: 999; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Disable scrolling while modal is open */
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
}

/* Modal content box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* Centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Adjust as needed */
  max-width: 400px;
  border-radius: 8px;
  text-align: center;
}

/* Modal buttons */
.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-button {
  padding: 8px 15px;
  border: 1px solid var(--border-color);
  background-color: var(--button-bg-color-gray);
  color: var(--button-text-color);
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
  outline: none;
  margin-bottom: 10px;
}

#confirm-yes {
  background-color: #e74c3c;
}

#confirm-no {
  background-color: var(--button-bg-color-green);
}

/* Optional: Add styles for dark mode */
body.dark-mode .modal-content {
  background-color: #333;
  color: #fff;
}

body.dark-mode .modal-button {
  background-color: #555;
  color: #fff;
}

body.dark-mode .modal-button:hover {
  background-color: #666;
}
